@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  font-family: "DM Sans";
  color: #333;
}

.navbar {
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar img {margin-left: 85px;}

.navbar a.space {
  margin-left: 65px;
  text-decoration: none;
  padding: 6px;
}

.navbar .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #331b19;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  margin: auto;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
  display: block;
  font-size: 16px;
}

#contact-btn {
  border: 2px solid #331b19;
  color: #331b19;
  padding: 16px;
  text-decoration: none;
  margin-right: 85px;
}

#contact-btn:hover {
  background-color: #331b19;
  color: white;
  font-size: 19.5px;
}

.content {
  max-width: 600px;
}